.header {
  &__content {
    display: flex;
    align-items: center;
    gap: 400px;
  }
  &__right {
    display: flex;
    gap: 13px;
    margin-top: 17px;
  }
  &__pillar {
    margin-top: 9.88px;
    p {
      color: #2a2776;
      font-weight: 600;
      font-size: 15.4px;
    }
  }
  &__left {
    display: flex;
    align-items: center;
    gap: 36px;
    button {
      border-radius: 10px;
      border: 2px solid #008f6a;
      background: white;
      padding: 9.5px 73px;
      color: #008f6a;
      font-weight: 600;
      font-size: 18.4px;
      cursor: pointer;
      transition: 0.3s;
    }
    button:hover {
      color: white;
      background: #008f6a;
    }
  }
  &__phone {
    display: flex;
    gap: 10px;
    img {
      width: 22px;
      height: 22px;
    }
  }
  &__number {
    font-weight: 600;
    font-size: 15px;
  }
  &__lines {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
  &__line {
    width: 22px;
    height: 4px;
    background: #2b1e74;
    margin-top: 4px;
    border-radius: 3px;
  }
  &__line__second {
    width: 13px;
    height: 4px;
    background: #2b1e74;
    margin-top: 4px;
    border-radius: 3px;
  }
  &__navigation {
    margin-top: 31px;
    ul {
      display: flex;
      gap: 90px;
    }
    li {
      font-weight: 600;
      font-size: 19.4px;
      cursor: pointer;
    }
  }
  &__band {
    width: 100%;
    border: 5px;
    background: #008f6a;
    height: 5px;
    margin-top: 23.5px;
  }
}

@media screen and (max-width: 1422px) {
  .header {
    &__navigation {
      ul {
        gap: 85px;
      }
    }
  }
}
@media screen and (max-width:1288px) {
  .header {
    &__content{
      gap: 320px;
    }
    &__navigation {
      ul {
        gap: 70px;
      }
    }
  }
}
@media screen and (max-width:1220px) {
  .header {
    &__content{
      gap: 220px;
    }
    &__navigation {
      ul {
        gap: 50px;
      }
    }
  }
}
@media screen and (max-width:1119px) {
  .header {
    &__content{
      gap: 202px;
    }
    &__navigation {
      ul {
        gap: 50px;
      }
    }
  }
}

@media screen and (max-width:1063px) {
  .header {
    &__content{
      gap: 90px;
    }
    &__navigation {
      li{
        font-size: 16px;
      }
    }
  }
}
@media screen and (max-width:989px) {
  .header {
    &__content{
      gap: 30px;
    }
    &__navigation {
      ul {
        gap: 37px;
      }
    }
  }
}
@media screen and (max-width:985px) {
  .header {
    &__content{
      gap: 30px;
    }
    &__navigation {
      ul {
        gap: 37px;
      }
    }
  }
}
@media screen and (max-width:929px) {
  .header {

    &__content{
      gap: 160px;
    }
    &__phone{
      display: none;
    }
    &__navigation {
      display: none;
        }
  }
}
@media screen and (max-width:682px) {
  .header {

    &__content{
      gap: 10px;
    }
  }
}
@media screen and (max-width:532px) {
  .header {
    &__content{
      gap: 204px;
    }
    &__left{
      button{
        display: none;
      }
    }
    &__right{
      img{
        width: 60%;
      }
    }
  }
}
@media screen and (max-width:436px) {
  .header {
    &__content{
      gap: 135px;
    }
  }
}
@media screen and (max-width:368px) {
  .header {
    &__content{
      gap: 100px;
    }
  }
}
@media screen and (max-width:332px) {
  .header {
    &__content{
      gap: 80px;
    }
  }
}
