.faculties {
  margin-top: 55px;
  &__content {
    border-radius: 10px;
    background: #fff;
    padding: 16px 27px;
    ul {
      margin-top: 45px;
      display: flex;
      font-size: 28px;
      font-weight: 500;
      li {
        padding: 10px 40px;
        border: 1px solid #000;
        cursor: pointer;
        transition: 0.3s;
      }
    }
    li:hover {
      background: #008f6a;
      color: #fff;
      border: none;
    }
  }
  &__title {
    font-weight: 500;
    font-size: 70px;
  }
  &__box {
    margin-top: 40px;
    max-width: 365px;
    padding: 39px 23px;
    background: #e7e3ff;
    border-radius: 10px;
    h1 {
      font-weight: 600;
      font-size: 25px;
    }
    p {
      margin-top: 18px;
      font-weight: 500;
      font-size: 18px;
      color: #888585;
    }
    img {
      padding-left: 250px;
    }
  }
  &__education {
    display: flex;
    flex-wrap: wrap;
    column-gap: 21px;
  }
  &__btn {
    border-radius: 5px;
    border: 1px solid #000;
    display: flex;
    align-items: center;
    column-gap: 6px;
    margin: 55px auto;
    padding: 10px 32px;
    background: #fff;
    cursor: pointer;
    p{
        font-size: 23px;
        color: #0C0834;
    }
    img{
        width: 40px;
    }
  }
}

@media screen and (max-width:1400px) {
  .faculties{
    &__education{
      justify-content: center;
    }
    ul{
      flex-wrap: wrap;
    }
  }
}

@media screen and (max-width:1000px) {
  .faculties{
    &__title{
      text-align: center;
    }
  }
}
@media screen and (max-width:558px) {
  .faculties{
    &__title{
      font-size: 50px;
    }
  }
}
@media screen and (max-width:520px) {
  .faculties{
    ul{
      font-size: 10px;
    }
    &__box{
      max-width: 180px;
      h1{
        font-size: 15px;
      }
      p{
        font-size: 12px;
      }
      img{
        padding-left: 40px;
      }
    }
  }
}

@media screen and (max-width:425px) {
  .faculties{
    &__title{
      font-size: 30px;
    }
    &__btn{
      padding: 10px 2px;
    }
  }
}