.news{
    margin-top: 55px;
    &__content{
        border-radius: 10px;
        background: #fff;
        padding: 16px 27px;
    }
    &__title{
        font-weight: 500;
        font-size: 70px;
        color: #0C0834;
    }
    &__box{
        margin-top: 45px;
        display: flex;
        flex-wrap: wrap;
        column-gap: 20px;
    }
    
    &__block{
        max-width: 380px;
        background: #E7E3FF;
        border-radius: 10px;
       position: relative;
        h1{
            font-weight: 500;
            font-size: 25px;
            padding: 15px 0px 0px 10px;
        }
       img{
        max-width: 380px;
       }
    }
    &__fix{
        font-weight: 500;
        font-size: 20px;
        color:#645C96;
        padding: 90px 0px 15px 253px;

    }
    &__date{
        position: absolute;
        font-weight: 500;
        font-size: 20px;
        color:#645C96;
        top: 405px;
        left: 253px;
    }
    &__btn{
        padding: 16px 67px;
        border-radius: 5px;
        background: #008F6A;
        border: none;
        color: #fff;
        font-weight: 600;
        font-size: 23px;
        display: flex;
        margin: 50px auto;
        cursor: pointer;
        transition: 0.3s;
    }
    &__btn:hover{
        background: #E7E3FF;
        color: #008F6A;
    }
}

@media screen and (max-width:1355px) {
    .news{
        &__box{
            flex-direction: column;
            align-content: center;
            row-gap: 20px;
        }
        &__title{
            text-align: center;
        }
    }
}
@media screen and (max-width:375px) {
    .news{
        &__title{
            text-align: center;
            font-size: 30px;
        }
        &__block{
            max-width: 205px;
            img{
                max-width: 205px;
            }
        }
        &__date{
            left: 105px;
        }
        &__fix{
            padding-left: 60px;
        }
    }
}

@media screen and (max-width:375px) {
    .news{
        &__btn{
            font-size: 15px;
        }
    }
}